<div class="row">
    <h1>Proyectos</h1>

    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Calculadora <i class="bi bi-calculator"></i></h1>
            <p>
                El proyecto consistio en la creación de una calculadora básica utilizando los conceptos aprendidos de Angular, en el curso de #YoProgramo (aún en proceso de desarrollo).
            </p>
        </div>
    </div>   
    
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte2">
            <h1>Portfolio Web <i class="bi bi-file-earmark-text"></i></h1>
            <p>
                El proyecto consistio en la creación de un Portfolio Web con el objetivo de poder acceder a un empleo.
            </p>
        </div>
    </div> 
</div>

