<div class="row">

    <h1>Educaión</h1>
    <!--Formacion academica, certificados, cursos todo con nombre del instituto, logo y periodo o año-->

    <div class="col-lg-2 col-md-2 col-sm-2">
        <button type="button" class="btn btn-success" routerLink="/nuevaedu" *ngIf="isLogged">
            Agregar Educaión
        </button>
    </div>

    <div class="col-lg-1 col-md-1 col-sm-1"></div>

    <div class="col-lg-11 col-md-11 col-sm-11">
        <table class="table">
                <tbody>
                    <tr *ngFor="let Educacion of educacion">
                        <td>
                            <h2>{{Educacion.nombreE}}</h2>
                        </td>
                        <td>{{Educacion.descripcionE}}</td>
                        <td *ngIf="isLogged">
                            <button class="btn btn-success" routerLink="/editedu/{{Educacion.id}}">
                            <i class="bi bi-pencil-fill"></i>
                            </button>
                        </td>
                        <td *ngIf="isLogged">
                            <button class="btn btn-danger" (click)="delete(Educacion.id)">
                            <i class="bi bi-x-octagon"></i>
                            </button>
                        </td> 
                    <!--
                        <div class="row">
                            <h1>Educacion</h1>
                            <div class="col-lg-1></div>
                            <div class="col-lg-11>
                                <ul>
                                    <li>
                                        <h1><img src="../../../assets/uba.png" >Lic. en Sistemas de la Información de las Organizaciones</h1> - <h3>(2021-actualidad)</h3>
                                    </li>
                                    <p>
                                        Me encuentro cursando la carrera de Lic. en Sistemas de la Información de las Organizaciones desde el año 2021.<br>
                                        Facultad de Ciencias Económicas UBA - Capital Federal, Buenos Aires.
                                    </p>
                                </ul>

                                <ul>
                                    <li>
                                        <h1><img src="../../../assets/bermejo.png" >Escuela de Comercio Dr. Antonio Bermejo</h1> - <h3>(2002-2007)</h3>
                                    </li>
                                    <p>
                                        Realicé mi educación secundaria en la Escuela de Comercio Dr. Antonio Bermejo y me reciví de Perito Mercantil en Orientación impositiva.<br>
                                        Escuela de Comercio Nro. 2 DE 1 "Dr. Antonio Bermejo" - Capital Federal, Buenos Aires 
                                    </p>            
                                </ul>

                                <ul>
                                    <li>
                                        <h1><img src="../../../assets/APLogo.png">#Se Programar</h1> - <h3>(2022)</h3>
                                    </li>
                                    <p>Realicé el curso Se Programar, programa del Ministerio de Desarrollo de la Nación, el cual consistió en brindar las herramientas básicas para adentrarnos al mundo de la programación.</p>
                                </ul>

                                <ul>
                                    <li>
                                        <h1><img src="../../../assets/uba.png">Gestión de Datos con Ecxel</h1> - <h3>(2021)</h3>
                                    </li>
                                    <p>
                                        El curso fue brindad por la Facultad de Ciencias Económicas UBA, el cual consistió en brindar las herramientas básicas para utilizar esta herramienta en el manejo de los datos.
                                    </p>
                                </ul>

                                <ul>
                                    <li>
                                        <h1><img src="../../../assets/uba.png">Excel en la nube: Integración total de los conceptos.</h1> - <h3>(2015)</h3>
                                    </li>
                                    <p>
                                        El curso fue brindad por la Facultad de Ciencias Económicas UBA, el cual consistió integrar todos los conocimientos de esta herramienta para realizar un buen manejo de la información.
                                    </p>
                                </ul>
                            </div>
                        </div>   
                    -->   
                    </tr> 
                </tbody>
        </table>
    </div>
</div>
