<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/fotoperfil.png" class="img-fluid rounded-start" alt="Foto de perfil" id="fotodeperfil">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <p>Full Stack Developer Jr.</p>
    </div>

    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p style="font-family:georgia,garamond,serif">
                <em>Soy estudiante de la carrera Lic. en Sistemas de la Información de las Organizaciones de la Facultad de Ciencias Economicas la UBA, estoy cursando el segundo año de la carrera, mi objetivo es poder desempeñarme como desarrolladora full-stack con el fin de implementar mis conocimientos adquiridos en la carrera, aportando mis conocimientos, entusiasmo y capacidad de aprendizaje.</em>
            </p>
        </span>
    </div>
</div>
