<div class="row"> 

    <h1>Hard & Soft Skills</h1>

    <!--Agregar una nueva Skill-->
    <div class="col-lg-2">
        <button type="button" routerLink="/newskill" class="btn btn-dark" *ngIf="isLogged">Nueva Skill</button>
    </div>

    <div cclass="text-center col-sm-4 col-md-4 col-lg-4 circulo" *ngFor="let skill of skill">
        <circle-progress>
            [percent]="(skill.porcentaje)"
            [maxPercent]="100"
            [radius]="100"
            [showTitle]="true"
            [showSubtitle]="false"
            [showUnits]="false"
            [showInnerStroke]="true"
            [clockwise]="true"
            [responsive]="true"
            [startFromZero]="true"
            [showZeroOuterStroke]="true"
            [radius]="90"
            [backgroundPadding]="10"
            [outerStokeWidth]="9"
            [space]="2"
            [innerStokeWidth]="8"
            [outerStrokeLinecap]="round" 
            [imageSrc]="''"
            [title]="(skill.nombre)"
            [titleColor]="'#212F3C'"
            [showImage]="false"
            [imageHeight]="50"
            [imageWidth]="50"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        </circle-progress>

        <div>
            <td *ngIf="isLogged">
                <button class="btn btn-light" routerLink="/editskill/{{skill.id}}">
                    <i class="bi bi-pencil-fill"></i></button>
            </td>
            <td *ngIf="isLogged">
                <button class="btn btn-danger" (click)="delete(skill.id)">
                    <i class="bi bi-trash-fill"></i></button>
            </td>
        </div>
        
        <!--
            <p><h1>Hard Skills</h1>
                <ul>
                    <h3>FRONTEND</h3>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JS</li>
                    <li>C#</li>
                </ul>
                <ul>
                    <h3>BACKEND</h3>
                    <li>MySQL</li>
                    <li>django</li>
                </ul>
                <ul>
                    <h3>Otras tecnologías</h3>
                    <li>Microsoft Office</li>
                    <li>Microsoft Excel, avanzado</li>
                </ul>
            </p>
            <br>
            <p><h1>Soft Skills</h1>
                <ul>
                    <h3>Competencias</h3>
                    <li>trabajo en equipo</li>
                </ul>
                <ul>
                    <h3>Idioma</h3>
                    <li>Inglés</li>
                    <li>Italiano</li>
                </ul>
                <ul>
                    <>h3>Esparcimiento</h3>
                    <li>Guitarra</li>
                    <li>Danzas Folclóricas</li>
                    <li>Deportes como ritmo, streching, vóley</li>
                </ul>
            </p> 
        -->
    </div>  
</div>

