.divider:after,
.divider:before {
content: "";
flex: 1;
height: 3px;
background: #eee;

text-align: center;
display: flexbox;
flex-direction: column;
box-shadow: 2px -2px 5px #eee8d5;
background-color: #eee8d5;

position: fixed;
display: block;
top: 0;
left: 0;
z-index: 2147483647;
    transition:
      width 300ms ease-out,
      opacity 150ms 150ms ease-in;
    transform: translate3d(0, 0, 0);
}

:host {
    display: block;
   }

   /*
.gradient-custom {
    
    background: #6a11cb;
    
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
*/

/*
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
*/